<div class="container" style="margin-top: 5%;">
            <% if current_user %>
      <form id="search_tweet" method="post" action="search" class="form-inline" class="form-inline" role="form">
      <input id="hashtag" name="hashtag" minlength="2" type="text" class="form-control" placeholder="Search Live Tweets based on hashtags" size="121" required />

  <button type="submit" class="btn btn-primary" data-toggle="tooltip" data-placement="bottom" title="Search tweets based on Hashtags">Search</button></form><%end%><hr/>
</div>