  <div id='cookie_alert' >
    <div id='cookie_alert_message'>
    <div class="alert alert-info">
        <div id='cookie_alert_title'>
        <b>Cookies:</b>
      </div>
      <div id='cookie_alert_text'>
        
        We use cookies to help personalise and improve your web experience. 
        By using our website you consent to our use of cookies, some of which may have already been set on your device. 
        View our <a href="cookie_policy">Cookie Policy</a> to learn more. 
        <%= link_to "X", cookie_alert_path, id: 'cookie_alert_close', remote: true %>
      </div>
    </div>
  </div>
        </div>