<div id="container">
<ul class="nav nav-tabs" style="margin-bottom: 15px;">
  <li class="active"><a href="#home" data-toggle="tab">FInd Tweets</a></li>
  <li class=""><a href="#view_sources" data-toggle="tab" >Find All Sources</a></li>
  <li class=""><a href="#GoogleMaps" data-toggle="tab">View on Maps</a></li>
  <li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
      Want More !<span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
      <li><a href="#dropdown1" data-toggle="tab">Most active locations</a></li>
      <li class="divider"></li>
      <li><a href="#dropdown2" data-toggle="tab">Retweets</a></li>
    </ul>
  </li>
</ul>
<div id="myTabContent" class="tab-content">
  <div class="tab-pane fade active in" id="home">
  <%= render "tweetsearch"%>
  <div id="tweets_view"></div>
  </div>
  <div class="tab-pane fade " id="view_sources">
<button type="submit" class="btn btn-primary" id="view_chart_now">View Sources for this tag</button><div class="span5" id="source">
    <!--Sidebar content-->
    </div>  
 </div>

  <div class="tab-pane fade " id="GoogleMaps">
   <div class="container"><div id="map" style='width: 90%; height: 400px;'></div>
  </div></div>
  <div class="tab-pane fade" id="dropdown1">
    <button type="submit" class="btn btn-primary" id="view_chart">View all Sources</button>
    <div class="container"><div id="highchart" style="width: 90%; hieght: 600px;"></div>
    </div>
  </div>
  <div class="tab-pane fade" id="dropdown2">
    <h2>Catch the dynamics</h2>
  </div>
</div></div>