<table class="table table-striped" id="datatable" style='width: 90%; display:none;'>
<tr>
<th>Sources</th>
     <th>Count</th>
<% for tweet in @ThisHashSource %>
<tr>
<td class="text-primary" class="bg-primary">    <%=tweet[0]%></td>
<td> <%=tweet[1]%> </td>
     <% end %>
</table>