<div class="container">
    <div class="span3 well" style="margin-Top:3%;">
        <center>
        <h1>About the developer</h1>
        <a href="#aboutModal" data-toggle="modal" data-target="#myModal"><img src="/images/khushal.jpg" name="aboutme" width="140" height="140" class="img-circle"></a>
        <h3>Khushal Dave</h3>
        <h4>MSc (Cloud Computing)</h4>
        <h5>National College of Ireland</h5>
        <h5>Dublin-1 Ireland</h5>
        <em>Click face for more</em>
		</center>
     </div>
     <div class="jumbotron">
<blockquote>
  <h3>We make your <span class="label label-warning">Marketing</span> more effective and precise. Just give it a try!</h3>
  <h4>We believe in customers<cite title="Source Title"> Just like you do.</cite></h4>
</blockquote >
</div>
<div class="jumbotron">
<blockquote>
 <h3><span class="label label-warning">NCIRL Says</span></h3>
  <h4>The Focus on the target market wouldn't be that easy without Tweetsgeek.
    Thanks a million !</h4>
</blockquote>
   
   
    </div>

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h4 class="modal-title" id="myModalLabel">More About Khushal Dave</h4>
                    </div>
                <div class="modal-body">
                    <center>
                    <img src="/images/khushal.jpg" name="aboutme" width="140" height="140" border="0" class="img-circle"></a>
                    <h3 class="media-heading">Khushal Dave <small>Ireland/India</small></h3>
                    <span><strong>Skills: </strong></span>
                        <span class="label label-warning">HTML5/CSS</span>
                        <span class="label label-info">Rails</span>
                        <span class="label label-info">J2EE</span>
                        <span class="label label-success">Cloud Computing</span>
                        <span class="label label-info">UX</span>
                        <span class="label label-warning">BootStrap</span>
                    </center>
                    <hr>
                    <center>
                    <p class="text-left"><strong>How we help </strong><br>
                       I have designed this application for Advanced Client Side Scripting Project.
                       This application helps the marketting team of any company to track their hashtags and act accordingly.</p>
                       <p class="text-left">We can help you to efffectively target your markets and track your competitiors!</p>
                       <p class="text-left"> We present information into an effective visual medium which is easy to interpret and thus create effective communication channel between you and the strategy team.</p>
                    <br>
                    </center>
                </div>
                <div class="modal-footer">
                    <center>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Looks Great !</button>
                    </center>
                </div>
            </div>
        </div>
    </div>
</div>