<div class="container">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
    
      <!-- Wrapper for slides -->
      <div class="carousel-inner">
      
        <div class="item active">
         <%= image_tag "World.jpg" %>
           <div class="carousel-caption">
            <h3></h3>
            <p></p>
          </div>
        </div><!-- End Item -->
 
         <div class="item">
          <%= image_tag "twit2.jpg" %>
           <div class="carousel-caption">
            <h3>Headline</h3>
            <p>
          </div>
        </div><!-- End Item -->
        
        <div class="item">
          <%= image_tag "Slide1.jpg" %>
           <div class="carousel-caption">
            <h3>Headline</h3>
            
          </div>
        </div><!-- End Item -->
        
        <div class="item">
            <%= image_tag "bg-slider-twitter.jpg" %>
           <div class="carousel-caption">
            <h3>Headline</h3>
          </div>
        </div><!-- End Item -->
                
      </div><!-- End Carousel Inner -->


      <ul class="nav nav-pills nav-justified">
          <li data-target="#myCarousel" data-slide-to="0" class="active"><a href="#">Find<small># Hashtags</small></a></li>
          <li data-target="#myCarousel" data-slide-to="1"><a href="#">Identify <small> Users</small></a></li>
          <li data-target="#myCarousel" data-slide-to="2"><a href="#">Work On<small>Problems</small></a></li>
          <li data-target="#myCarousel" data-slide-to="3"><a href="#">Promote<small>Your Business !</small></a></li>
        </ul>


    </div><!-- End Carousel -->








     <% @tweets.each do |tweet| %>
    <%if(tweet.user.location.present?)%>
  <tr><td class="text-primary" class="bg-primary">    <%=tweet.user["location"]%></td>
  <td> <img   class="img-circle"src=<%=tweet.user["profile_image_url"]%>/> </td>
  <td>  <%=tweet.user["friends_count"]%></td>
  <td>  <%=tweet.user["statuses_count"]%></td>
  <td>    <%=tweet.text%></td></tr>
  <td>  <%=tweet.user["statuses_count"]%></td>
    <td>  <%=tweet.user["statuses_count"]%></td>
  <%else%>
<%end%>
<%end%>



:profile_pic => tweet.user["profile_image_url"],

<td> <img   class="img-circle"src=<%=tweet["profile_pic"]["host"] + tweet["profile_pic"]["path"]%>/> </td>



<script type="text/javascript">
    handler = Gmaps.build('Google');

handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
  markers = handler.addMarkers(<%=raw @tweet.to_json %>);
  handler.bounds.extendWith(markers);
  handler.fitMapToBounds();
});
</script>